<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
	<div class="prin">
		<div class="prin__image">
			<img id="map" src="">			
		</div>
		<div class="prin__b1">
			<a class="boton1" href="/Dispositivos">Info de ROUTERS</a>
			<a class="boton1" href="/Evalua" >Monitoreo de paquetes</a>
			<a class="boton1" href="/EditName">Cambiar nombre Host</a>
		</div>
	</div>
	
</body>

<script type="text/javascript">
	window.onload = function(){
		document.getElementById('map').src="../static/red.png"
	}
</script>
</html>